@page "/ABRDanhMucP"

@using SalesAuto.Models.Entities;
@if (isloading)
{
    <div class="spinner-grow"></div>   
}
else
{
    <RadzenButton Text="Excel" Icon="grid_on" Click=@(async () => await Export()) Style="margin-bottom:20px" />
    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@InsertRow" />
    <RadzenDataGrid @ref="danhMucABRGrid" AllowFiltering="true" AllowPaging="true" PageSize="20" AllowSorting="true" EditMode="DataGridEditMode.Single"                 
                    AllowColumnResize="true" 
                    FilterMode="FilterMode.Simple"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    Data="@listDanhMucABR" TItem="ABRDanhMuc" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
        <Columns>
            <RadzenDataGridColumn Width="50px" TItem="ABRDanhMuc" Property="ID" Title="ID" Visible="false" />
            <RadzenDataGridColumn Width="50px" TItem="ABRDanhMuc" Property="STT" Title="STT" Visible="true">
                <EditTemplate Context="aBRDanhMuc">
                    <RadzenNumeric @bind-Value="aBRDanhMuc.STT" Style="width: 100%; display: block" Name="STT" />
                    <RadzenRequiredValidator Text="Vui lòng điền STT" Component="STT" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ABRDanhMuc" Property="Code" Title="Code">
                <EditTemplate Context="aBRDanhMuc">
                    <RadzenTextBox @bind-Value="aBRDanhMuc.Code" Style="width:100%; display: block" Name="Code" />
                    <RadzenRequiredValidator Text="Vui lòng điền code" Component="Code" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ABRDanhMuc" Property="TenCongViec" Title="Tên công việc ABR">
                <EditTemplate Context="aBRDanhMuc">
                    <RadzenTextBox @bind-Value="aBRDanhMuc.TenCongViec" Style="width:100%; display: block" Name="TenCongViec" />
                    <RadzenRequiredValidator Text="Vui lòng điền Tên công việc" Component="TenCongViec" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ABRDanhMuc" Property="MaNhomABR" Title="Nhóm ABR">
                <Template Context="aBRDanhMuc">
                    @if (listNhomABR.Find(x => x.ID == aBRDanhMuc.MaNhomABR) != null)
                    {
                        @(listNhomABR.Find(x => x.ID == aBRDanhMuc.MaNhomABR).TenNhom)
                    }
                </Template>
                <EditTemplate Context="aBRDanhMuc">
                    <RadzenDropDown @bind-Value="aBRDanhMuc.MaNhomABR" Data="@listNhomABR" TextProperty="TenNhom" ValueProperty="ID" Style="width:100%" AllowFiltering="true">
                    </RadzenDropDown>
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Width="100px" TItem="ABRDanhMuc" Property="MucHuongVND" Title="Mức hưởng VNĐ">
                <Template Context="item">
                    <span style="text-align:right"> @(item.MucHuongVND.ToString("##,#")) </span>
                </Template>
                <EditTemplate Context="aBRDanhMuc">
                    <RadzenNumeric @bind-Value="aBRDanhMuc.MucHuongVND" Style="width:100%" Name="MucHuongVND" />
                    <RadzenRequiredValidator Text="Vui lòng điền mức hưởng theo tiền Việt Nam" Component="MucHuongVND" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Width="100px" TItem="ABRDanhMuc" Property="MucHuongPhanTram" Title="Mức hưởng %">
                <EditTemplate Context="aBRDanhMuc">
                    <RadzenNumeric @bind-Value="aBRDanhMuc.MucHuongPhanTram" Style="width:100%" Name="MucHuongPhanTram" />
                    <RadzenRequiredValidator Text="Vui lòng điền mức hưởng theo phần trăm doanh thu" Component="MucHuongPhanTram" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Width="100px" TItem="ABRDanhMuc" Property="TyLeGianTiep" Title="% gián tiếp">
                <EditTemplate Context="aBRDanhMuc">
                    <RadzenNumeric @bind-Value="aBRDanhMuc.TyLeGianTiep" Style="width:100%" Name="TyLeGianTiep" />
                    <RadzenRequiredValidator Text="Vui lòng điền mức hưởng theo phần trăm doanh thu" Component="TyLeGianTiep" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ABRDanhMuc" Property="LoaiHanhDong" Title="Loại hành động">            
                <Template Context="item">
                    <RadzenDropDown @bind-Value="item.LoaiHanhDong" Style="width:100%" Name="LoaiHanhDong" Data="@listABRLoaiTinh" TextProperty="TenVaiTro" ValueProperty="MaVaiTro" Disabled="true" />                
                </Template>
                <EditTemplate Context="item">
                    <RadzenDropDown  @bind-Value="item.LoaiHanhDong" Style="width:100%" Name="LoaiHanhDong" Data="@listABRLoaiTinh" TextProperty="TenVaiTro" ValueProperty="MaVaiTro" />
                    <RadzenRequiredValidator Text="Vui lòng chọn hành động!" Component="LoaiHanhDong" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Width="70px" TItem="ABRDanhMuc" Property="TinhTheoPoolThucHien" TextAlign="TextAlign.Center" Title="Tính theo pool">
                <Template Context="item">
                    <RadzenCheckBox @bind-Value="item.TinhTheoPoolThucHien" Disabled="true" />
                    <RadzenButton Icon="add" Size="ButtonSize.Small" Click="@(async (args) => await ChonPoolHuongRieng(item))" @onclick:stopPropagation="true" ></RadzenButton>
                </Template>
                <EditTemplate Context="item">
                    <RadzenCheckBox @bind-Value="item.TinhTheoPoolThucHien" Style="display: block" Name="TinhTheoPoolThucHien" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Width="70px" TItem="ABRDanhMuc" Property="TinhTheoBenhAn" TextAlign="TextAlign.Center" Title="Tính theo Bệnh Án">
                <Template Context="item">
                    <RadzenCheckBox @bind-Value="item.TinhTheoBenhAn" Disabled="true" />
                </Template>
                <EditTemplate Context="item">
                    <RadzenCheckBox @bind-Value="item.TinhTheoBenhAn" Style="display: block" Name="TinhTheoBenhAn" />
                </EditTemplate>
            </RadzenDataGridColumn>
        
            <RadzenDataGridColumn Width="70px" TItem="ABRDanhMuc" Property="ChuongTrinhRieng" TextAlign="TextAlign.Center" Title="Chương trình riêng">
                <Template Context="item">
                    <RadzenCheckBox @bind-Value="item.ChuongTrinhRieng" Disabled="true" />
                </Template>
                <EditTemplate Context="item">
                    <RadzenCheckBox @bind-Value="item.ChuongTrinhRieng" Style="display: block" Name="ChuongTrinhRieng" />
                </EditTemplate>
            </RadzenDataGridColumn>
        
            <RadzenDataGridColumn TItem="ABRDanhMuc" Property="TinhTheoBenhAn" TextAlign="TextAlign.Center" Title="Theo SL">
                <Template Context="item">                
                    <RadzenButton Icon="info" Size="ButtonSize.Small"  Click="@(async (args) => await HuongBacThang(item))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    @if (item.HuongBacThangs!= null)
                    {                    
                        foreach(var a in item.HuongBacThangs)
                        {
                            <span> @(a.CanDuoi.ToString("##0") + "-" +  a.CanTren.ToString("##0") + ":" + a.HuongVND.ToString("0,###") + "; ")</span><br/>
                        }                   
                    }
                </Template>           
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ABRDanhMuc" Context="aBRDanhMuc" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="aBRDanhMuc">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(aBRDanhMuc))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="aBRDanhMuc">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRow(aBRDanhMuc))">
                    </RadzenButton>
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(aBRDanhMuc))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ABRDanhMuc" Context="aBRDanhMuc" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                <Template Context="aBRDanhMuc">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRow(aBRDanhMuc))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="aBRDanhMuc">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@(args => DeleteRow(aBRDanhMuc))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
