@page "/reportdownload"
@attribute [Authorize]
<div class="row">
    <div class="col">
        <div class="card text-center">
            <h5 class="card-header">Download report</h5>
            <div class="card-body">
                <table>
                    <tr>
                        <td align="right" colspan="2">
                            <label for="thang">Tháng</label>
                        </td>
                        <td align="left" colspan="2">
                            <input id="thang" type="number" @bind-value=thang />
                        </td>
                    </tr>
                    <tr>
                        <td align="right" colspan="2">
                            <label for="nam">Năm</label>
                        </td>
                        <td align="left" colspan="2">
                            <input id="nam" type="number" @bind-value=nam />
                        </td>
                    </tr>
                    @if (MaBenhVien == "O")
                    {
                        <tr>
                            <td>
                                CPA
                            </td>
                            <td>
                                <button class="btn btn-success" @onclick="@(async () => await DownLoadPCAExcel())"> Download</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="@(async () => await SendMailPCAExcel())"> Gửi mail </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="@(async () => await TaoDuLieuPCA())"> Reset data </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lead follow
                            </td>
                            <td>
                                <button class="btn btn-success" @onclick="@(async () => await DownLoadLeadFollowExcel())"> Download  </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="@(async () => await SendMailLeadFollowExcel())"> Gửi mail </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="@(async () => await TaoDuLieuLeadFollow())"> Reset data </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                KPI
                            </td>
                            <td>
                                <button class="btn btn-success" @onclick="@(async () => await DownLoadKPIExcel())"> Download </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="@(async () => await SendMailKPIExcel())"> Gửi mail </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Leads Channel
                            </td>
                            <td>
                                <button class="btn btn-success" @onclick="@(async () => await DownLoadLeadsChannelExcel())"> Download </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="@(async () => await SendMailLeadsChannelExcel())"> Gửi mail </button>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            ALL
                        </td>
                        <td>
                            <button class="btn btn-success" @onclick="@(async()=> await DownloadAll())"> Download </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" @onclick="@(async()=> await SendMailAll())"> Gửi mail </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
@if (MaBenhVien == "O")
{
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <h5 class="card-header">Báo cáo tự động</h5>
                <div class="card-body">
                    <table>
                        <tr>
                            <td align="right">
                                <label for="thang">Tháng</label>
                            </td>
                            <td align="left">
                                <input id="thang" type="number" @bind-value=thang />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <label for="nam">Năm</label>
                            </td>
                            <td align="left">
                                <input id="nam" type="number" @bind-value=nam />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Báo cáo tháng
                            </td>
                            <td>
                                <button class="btn btn-success" @onclick="@(async () => await DownLoadBaoCaoThang())"> Download</button>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <label for="nam">Năm</label>
                            </td>
                            <td align="left">
                                <input id="nam" type="number" @bind-value=nam @onclick="@loadDanhMucThang" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <label for="tuan">Tuần</label>
                            </td>
                            <td align="left" colspan="2">
                                <select class="form-control" @bind="@tuan">
                                    @if (TuanVMs != null)
                                    {
                                        foreach (var item in TuanVMs)
                                        {
                                            <option value="@item.Tuan"> Tuần  @item.Tuan ( @item.TuNgay.ToString("dd/MM/yyyy") - @item.DenNgay.ToString("dd/MM/yyyy") ) </option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Báo cáo tuần
                            </td>
                            <td>
                                <button class="btn btn-success" @onclick="@(async () => await DownLoadBaoCaoTuan())"> Download </button>
                            </td>                         
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-success" @onclick="@(async () => await SendMailBaoCaoTuan())"> Send mail </button>
                            </td>
                            <td>
                                <input id="nam" type="email" @bind-value=ToMail />
                            </td>
                         </tr>
                    </table>
                       

                </div>
            </div>
        </div>
    </div>
}